$bg: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(img/bg.jpg);
$btncolor: rgb(231, 221, 221);
$bgtransparent: rgba(83, 75, 75, 0.5);
$fonth: 5rem;
$fontp: 2rem;
$colorhover: rgba(245, 214, 41, 0.5);
$bghover: rgb(0, 0, 0, 0.5);